{% extends 'base.html' %}
{% block content %}
{% from "_formhelpers.html" import render_field, render_bootstrap_field %}
    <h2>New User Entry:  <small><sp><sp>Please provide Box account email and Mitrend info. </small></h2>
    <br>
    <br>
<form class="form-horizontal" role="form" method=post action="/newuser">
    {{ render_bootstrap_field(form.boxuseremail) }}
    {{ render_bootstrap_field(form.mitrend_user) }}
    {{ render_bootstrap_field(form.password) }}
    {{ render_bootstrap_field(form.confirm) }}
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type=submit value=Submit class="btn btn-primary">
    </div>
    </div>
</form>
{% endblock %}