{% extends "base.html" %}
{% block title %} - Run Log {% endblock %}
{% block content %}
<div class="col-lg-6">
    <h2>Bordered Table</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Node Name</th>
                        <th>MAC Address</th>
                    </tr>
                </thead>
                <tbody>
                {{ for node in nodeinfo['items']: }}
                </tbody>
            </table>
        </div>
</div>
{% endblock %}