{% extends "base.html" %}
{% block title %} - Run Log {% endblock %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Execution Time</th>
            <th>New Nars Founds</th>
            <th>Run Time Duration</th>
        </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
        <tr>
            <td>{{ entry.datetime }}</td>
            <td>{{ entry.nars_found }}</td>
            <td>{{ entry.duration }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}