{% extends "base.html" %}
{% block title %} - Run Log {% endblock %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Execution Time (GMT)</th>
            <th>New Nars Founds</th>
            <th>Run Time Duration</th>
        </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
        {% if entry.nars_found == true %}
        <tr class="success">
        {% else %}
        <tr class="active">
        {% endif %}
            <td>{{ entry.datetime }}</td>
            <td>{{ entry.nars_found }}</td>
            {% if entry.duration > 20 %}
                <td class="danger">
            {% else %}
                <td>
            {% endif %}
            {{ entry.duration }} s</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}